.movie-details {
  margin-top: 55px;

  .wrapper {
    align-items: center;
    background: #333333;
    display: flex;
    color: white;
  }

  &__wrapper .container {
    margin: 0 -15px;
  }

  &__image {
    align-items: center;
    display: flex;
    padding: 30px;
  }

  &__title {
    color: coral;
    font-size: 24px;
    font-weight: bold;
  }

  &__genres {
    margin: 10px 0;
  }

  &__time {
    align-items: center;
    display: flex;
    font-weight: bold;
    margin-bottom: 30px;
  }

  &__year {
    margin-right: 20px;
  }

  &__raiting {
    border: 1px solid lightgreen;
    border-radius: 50%;
    color: lightgreen;
    font-size: 20px;
    margin-left: 20px;
    padding: 5px;
  }

  &__info {
    padding: 30px;
  }

  img {
    width: 100%;
  }
}