.movie-card {
  display: flex;
  flex-direction: column;
  padding: 15px;
  width: calc(33.3% - 30px);

  img {
    width: 100%;
  }

  &__title {
    font-size: 16px;
    padding: 3px 0;
    text-transform: uppercase;

    &-row {
      display: flex;
      justify-content: space-between;
      font-weight: bold;
      padding: 5px 0;
    }
  }

  &__year {
    align-self: flex-start;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 3px 5px;
  }

  &__ganres {
    color: grey;
    font-size: 14px;
  }
}